a.footnote-ref {
    font-size: 0.95em;
    padding: 0 0.5em;
    /* vertical-align: super;
    text-decoration: none;
    color: #0066cc; */
}

.footnotes {
    font-size: 0.8em;
    /* color: #666;
    border-top: 1px solid #eee;
    margin-top: 2em;
    padding-top: 1em; */
}

a.footnote-backref {
    font-size: 0.8em;
    text-decoration: none;
}